.calculator{
    width: 30vw;
    height: 70vh;
    border: 1px solid gray;
    margin: auto;
    position: relative;
    top: 100px;
    display: grid;
    gap: 5px;
    padding: 20px;
}

.calculator>.form-group{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.calculator>.form-group>button{
    width: 25%;
    font-size: 20px;
    border: none;
    border-radius: 5px;

}

.calculator>.form-group>button:hover{
    background-color: grey;
}

.calculator>.form-group>input{
    width: 100%;
    font-size: 40px;
    border: 1px solid grey;
    text-align: end;
    outline: none;
    border-radius: 5px;
    padding-right: 10px;
}

.calculator>.form-group>.equal{
    color:wheat;
    background-color: blue;
    font-size: 30px;
}

.calculator>.form-group>.equal:hover{
    background-color: rgb(14, 169, 221);
}